img
{display:none;
}
header{
	background-color: #808080;
}
h1{
	color: 	#FF6347;
	text-align: center;
}
h2{
	color:	#FF6347;
}
section{
	background-color: 	#C0C0C0;
}
a{
	background-color:	#FF0000; 
	color:	#0000FF;
}